body {
  background-color: #5e5e5e;
  color: #ffffff;
  text-align: center;
   font-family: 'Comic Sans MS', cursive;
  font-size: 115px;

}

.next { 

  background: #1d1b1b;
  font-size: 35px ;
  color: #ffe0e0;
  border: 9px solid #4f4f4f;
  border-radius: 15px;
  width: 30%;
 
  
}
